<h1>Welcome to Boston Public Restrooms!</h1>
  <h2>This is your guide to public restrooms in the Boston area. 
  Get reviews, maps, ratings, and more! </h2>
  
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-inverse"%>
  
