@import "bootstrap"; 

/* variables */

$blue: #3bbfce;
$lightgrey: #888888; 
$coral: #ffcccc; 
$lightgreen: #d8f0e0;
/* */ 
/* container */ 

body {
  background-color: $lightgreen; 
}
.container {
  height: 100%;
  width: 70%;
  margin-top: 45px; 
}

/* font */ 

h1 {
  margin: 5px; 
}
h2 {
  font-size: 1.2em; 
  
}

/* footer */ 

footer {
  margin-top: 45px;
  margin-right: 20px; 
  margin-left: 20px; 
  padding-top: 5px;
  border-top: 1px solid $lightgrey;
  color: $blue;
  font-size: small; 
  a {
    color: $blue;
    &:hover {
      color: $lightgrey; 
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* header */ 

header {
  padding-top: 45px;
  border-bottom: 1px solid $lightgrey; 
  color: $coral;
  font-size: large;
  background-color: black;  
  a {
    color: $blue;
    &:hover {
      color: $lightgrey;
    }
  }
  nav {
    float: right; 
    list-style: none;
    margin-right: 20px; 
    li { 
      float: left;
      margin-left: 10px;
      margin: 5px;
    }
  }
  #logo { 
    margin: 5px; 
    text-transform: uppercase; 
    font-size: 1.7em;
  }  
} 

/* error messages */
#error_explanation {
  color: #f00; 
}

/* search */ 
#search_results {
  padding-top: 20px; 
  padding-bottom: 30px; 
  .restroom_name {
    font-weight: bold;
  }
}

/* reviews */ 
.single_review {
	list-style: none;
	li {
	  padding: 10px 0; 
	  #review_auth {
	    text-color: $coral; 
	  }
	  #review_cont {
	    display: block;
	    margin: 5px; 
	    background-color: $lightgrey;
	  }
	}
}