<ul class="single_review">
  <div id="review_auth">
    <li><%= link_to review.author, 
  			user_path(User.find_by email: review.author) %></li> 
  </div>
  <div id="review_content">
    <li><%= review.content %></li>
  </div> 
</ul> 